# Build results
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo

# Visual Studio cache/options directory
.vs/

# Rider
.idea/

# Visual Studio Code
.vscode/

# Build artifacts
*.dll
*.exe
*.pdb

# NuGet Packages
*.nupkg
*.snupkg
packages/

# OS files
.DS_Store
Thumbs.db
