################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/Backend/.vs
/backend/Backend/AuthServer/AuthServer/obj
/backend/Backend/Backend/.config
/backend/Backend/Backend/obj
