################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/Backend/.vs
/backend/Backend/AuthServer/AuthServer/obj
/backend/Backend/Backend/.config
/backend/Backend/Backend/obj
/backend/Backend/AuthServer/AuthServer/bin/Debug/net8.0
/backend/Backend/Backend/bin/Debug/net8.0
/Backend/bin/Debug/net8.0
/Backend/obj
/AuthServer/bin/Debug/net8.0
/AuthServer/obj
/.vs/Backend
